body {
display: flex;
flex-direction: column;
background-color: black;

}

.reset {
    clear: both;
}

/* divs */
#title {
 color: white;
 text-align: center;
}

#main {
text-align: center;
}

#inventory {

}

#character {

}

#line {

}

#npc {

}